@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #161616;
  font-family: 'Roboto', sans-serif;
  .main {
    width: 75%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    align-content: flex-start;
    .logo{
      grid-area: logo;
      max-width: 80px;
      max-height: 80px;
      position: fixed;
    }
    .wrap{
      grid-area: wrap;
      width: 100%;
      max-width: 100%;
    }
  }
}
